<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>RadarVerde - Inteligencia Espacial</title>
    <!-- Fuente externa -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=Inter:wght@300;400;600&display=swap">
    <!-- boostrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

    <!-- header -->
    <header>
        <!-- logo y titulo -->
        <div class="logo">
            <img src="/static/images/logo.png" alt="Logo">
            <h1 class="brand-title">
                <span class="radar-text">Radar</span><span class="verde-text">Verde</span>
            </h1>
        </div>
        <nav>
            <a href="#">Inicio</a>
            <a href="{{ url_for('visor_mapa') }}" class="btn-mapa">Acceso Mapa</a>
        </nav>
    </header>

    <!-- Tarjeta inicial -->
    <section class="card-inicio" id="inicio">
        <div class="container">
            <h1>Monitoreo ambiental urbano</h1>
            <p>Visualiza datos geográficos con precisión y dinamismo en un entorno interactivo diseñado para la
                inteligencia espacial.</p>
            <a href="#mapa" class="btn-green">Explorar Ahora</a>
        </div>
    </section>

    <!-- MISIÓN + BENEFICIOS -->
    <section id="plataforma">
        <div class="container">
            <div class="grid-2">
                <div class="card-mision">
                    <h2>Nuestra Misión</h2>
                    <p>Monitorear la densidad de los espacios verdes disponibles en San Ramón mediante el análisis
                        territorial y datos satelitales, identificando zonas prioritarias para mejorar la calidad de
                        vida y el entorno ambiental.</p>
                </div>
                <div class="benefits-list">
                    <div class="benefit-item">
                        <h4>Mapeo de la densidad vegetal</h4>
                        <p>Identifica la distribución aproximada del arbolado y los espacios verdes disponibles a escala
                            comunal.</p>
                    </div>
                    <div class="benefit-item">
                        <h4>Detección de Sombras.</h4>
                        <p>Evalúa el nivel de sombras en las calles y zonas de alta exposición solar, calculandolas
                            dependiendo de la hora del día .</p>
                    </div>
                    <div class="benefit-item">
                        <h4>Planificación Territorial</h4>
                        <p>Aporta datos clave para proyectos de reforestación urbana y mejorar en gran manera la gestión
                            pública.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FUNCIONALIDADES -->
    <section>
        <div class="container">
            <h2 class="section-title">Funcionalidades</h2>
            <div class="grid-3">
                <div class="card-feature">
                    <div class="icon-box"><i class="bi bi-globe-americas"></i></div>
                    <h3>Mapa Interactivo</h3>
                    <p>Visualiza datos geográficos en tiempo real con navegación intuitiva y fácil.</p>
                </div>
                <div class="card-feature">
                    <div class="icon-box"><i class="bi bi-clock-history"></i></div>
                    <h3>Actualización en tiempo real</h3>
                    <p>Recibe alertas instantáneas de cambios en el entorno geográfico.</p>
                </div>
                <div class="card-feature">
                    <div class="icon-box"><i class="bi bi-map"></i></div>
                    <h3>Accesible para todos</h3>
                    <p>Una interfaz sencilla, cómoda y fácil de entender para asegurar una cómoda navegación por el
                        sitio para todos.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA FINAL -->
    <div class="container">
        <div class="cta-banner">
            <div>
                <h2>¿Quieres ayudar a aumentar la densidad de espacios verdes en tu sector, pero no sabes cómo?</h2>
                <p>Ingresa a la siguiente guia para resolver todas tus dudas y aprender a plantar arboles para mejorar
                    tu sector.</p>
            </div>
            <a href="#" class="btn-guia">Guia de plantacion</a>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container footer-content">
            <div>
                <strong style="color: #E2E8F0;">RadarVerde</strong> — Visualización avanzada de datos geográficos.
            </div>
            <div class="socials">
                <a href="#">contacto@radarverde.com</a> |
                <a href="#">LinkedIn</a> |
                <a href="#">X</a>
            </div>
        </div>
    </footer>

</body>

</html>